* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    background-color: hsl(30, 38%, 92%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 20rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;

    text-align: center;
}

.card-image {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image-desktop{
    display: none;
}

.card-text-container {
    padding: 1rem;
}

.card-perfume {
    margin: 5px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
    text-align: left;
}

.card-title {
    font-size: 2rem;
    margin-top: 10px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    text-align: left;
}

.card-description {
    margin: 15px 0;
    color: hsl(228, 12%, 48%);
    max-width: 18rem;
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: left;
}

.card-price-container {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
}

.card-discounted-price {
    color: hsl(158, 36%, 37%);
    margin-right: 1.5rem; 
    font-size: 2rem;
    font-weight: 700;
}

.card-orig-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
}

.btn-add {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 17rem;
    padding: 0.9rem 0;
    margin: 10px 0;
    border-radius: 10px;

}

.cart-icon {
    margin: 0 10px;
}

@media (min-width: 768px) {
    .card {
        max-width: 38rem;
        background-color: hsl(0, 0%, 100%);

        display: flex;
    }

    .card-image {
        display: none;
    }

    .card-image-desktop {
        width: 50%;
        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card-text-container {
        padding: 1rem;
    }
}